@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.right .alert {
  position: absolute;
  top: -2px;
  right: -4px;
}

.APPROVED {
  background-color: rgba(0, 128, 0, 0.2);
  color: green;
}
.IN_REVIEW {
  background-color: rgba(255, 248, 36, 0.2);
  color: goldenrod;
}
.SUBMITTED {
  background-color: rgba(225, 0, 0, 0.1);
  color: crimson;
}

@media print {
  @page {
    /* size: A4 ; */
    margin: 10mm;
    /* Add margins to the printed page */
    @bottom-right {
      content: "Page " counter(page);
    }
  }
  .test {
    page-break-inside: avoid;
    /* Prevent breaking inside child elements */
    break-inside: avoid;
  }
  .year-end {
    page-break-inside: avoid;
    /* Prevent breaking inside child elements */
    break-inside: avoid;
  }
  .comment {
    page-break-inside: avoid;
    /* Prevent breaking inside child elements */
    break-inside: avoid;
  }
  .Sign-Off {
    page-break-inside: avoid;
    /* Prevent breaking inside child elements */
    break-inside: avoid;
  }
  .Manager-Assessment {
    page-break-inside: avoid;
    /* Prevent breaking inside child elements */
    break-inside: avoid;
  }
  .Self-Assessment {
    page-break-inside: avoid;
    /* Prevent breaking inside child elements */
    break-inside: avoid;
  }
  .comments {
    page-break-inside: avoid;
    /* Prevent breaking inside child elements */
    break-inside: avoid;
  }
  .rating {
    page-break-inside: avoid;
    /* Prevent breaking inside child elements */
    break-inside: avoid;
  }
  .feedback{
    page-break-inside: avoid;
    /* Prevent breaking inside child elements */
    break-inside: avoid;
  }
  
}

/* body {
  margin: 0; /* Remove default body margin */
/* } */

/* .test { */
/* padding: 20px 5px; */
/* Add padding inside the content */
/* } */


