@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.right .alert{
    position: absolute;
    top: -2px;
    right: -4px;
}

.APPROVED{
    background-color: rgba(0, 128, 0, 0.2);
    color: green;
}
.IN_REVIEW{
    background-color: rgba(255, 248, 36, 0.2);
    color: goldenrod;
}
.SUBMITTED{
    background-color: rgba(225, 0, 0, 0.1);
    color: crimson;
}
